<div class="container top">
	<div class="row">
		<%= flash[:notice_review_new] %>
		<%= flash[:notice_review_destroy] %>
		<%= flash[:notice_leave] %>
	</div>
	<% if user_signed_in? %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>

      <% elsif admin_signed_in? %>

      <% else %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>
      <% end %>
	<!-- <div class="row">
		<h1>Reviews</h1>
	</div> -->
	<% if user_signed_in? %>
		<div class="row review-new-icon">
			<%= link_to new_review_path do %>
				<i class="fas fa-edit" style="font-size: 80px; padding-bottom: 20px;"></i>
			<% end %>
		</div>
	<% end %>
	<div class="row top-review">
	<% if @reviews.present? %>
		<% @reviews.each do |review| %>
			<div class ="review-image">
				<%= link_to review_path(review.id) do %>
					<% if review.image_id.present? %>
						<%= attachment_image_tag review, :image, :fill, 250, 400 %>
					<% else %>
						<%= image_tag 'no-image-review.png', :size=>"250x400" %>
					<% end %>
				<div class="mask">
					<div class="caption">
						「<%= review.title %>」<br>
						<%= review.user.nickname %>
					</div>
				</div>
				<% end %>
			</div>
		<% end %>
	<% else %>
			<p>
				投稿されたレビューがありません。<br>
				観劇したら<i class="fas fa-edit" style="font-size: 30px;"></i>を押して<br>
				レビューを残してみましょう！
			</p>
	<% end %>
	</div>
	<%= paginate @reviews, class: "paginate" %>
</div>