<div class="container top">
	<div class="row">
		<h1>Reviews</h1>
	</div>
	<div class="row review-new-icon">
		<%= link_to new_user_review_path do %>
			<i class="fas fa-plus-circle"></i>
		<% end %>
	</div>
	<div class="row">
	<% @reviews.each do |review| %>
		<div class ="review-image">
			<%= link_to user_review_path(review.id) do %>
				<% if review.image_id.present? %>
					<%= attachment_image_tag review, :image, :fill, 250, 400 %>
				<% else %>
					<%= image_tag 'no_image.jpg', :size=>"250x400" %>
				<% end %>
				<div class="mask">
					<div class="caption">
					<%= review.title %><br>
					<%= review.user.nickname %>
					</div>
				</div>
			<% end %>
		</div>

			<!-- <div class="review_title">
				<%= review.title %>
			</div><br>
			<div class="review_user_name">
				<%= review.user.nickname %>
			</div><br> -->
	<% end %>
	</div>
</div>