<div class="container top">
	<% if user_signed_in? %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>

      <% elsif admin_signed_in? %>

      <% else %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>
      <% end %>
	<div class="row">
		<h1>Reviews</h1>
	</div>
	<div class="row review-new-icon">
		<%= link_to new_user_review_path do %>
			<i class="fas fa-plus-circle"></i>
		<% end %>
	</div>
	<div class="row">
	<% @reviews.each do |review| %>
		<div class ="review-image">
			<%= link_to user_review_path(review.id) do %>
				<% if review.image_id.present? %>
					<%= attachment_image_tag review, :image, :fill, 250, 400 %>
				<% else %>
					<%= image_tag 'no_image.jpg', :size=>"250x400" %>
				<% end %>
				<div class="mask">
					<div class="caption">
					<%= review.title %><br>
					<%= review.user.nickname %>
					</div>
				</div>
			<% end %>
		</div>

			<!-- <div class="review_title">
				<%= review.title %>
			</div><br>
			<div class="review_user_name">
				<%= review.user.nickname %>
			</div><br> -->
	<% end %>
	</div>
</div>