<div class="container">
	<div class="row">
		<div class="col-3">
			<%= attachment_image_tag @user, :image, :fill, 200, 200, fallback: "no_image.jpg",:size=>"200x200" %>
		</div>
		<div class="col-5">
			<p>アカウント名: <%= @user.nickname %></p>
			<p>email: <%= @user.email %></p>
			<div class="edit_btn">
				<% if @user == current_user %>
					<%= link_to "編集する", edit_user_user_path(current_user), class:"btn btn-outline-primary" %>
				<% end %>
			</div>
			<div class="follow_btn">
				<% if @user != current_user %>
					<% if @user.followed_by?(current_user) %>
						<%= link_to "フォロー中", user_user_relationships_path(@user.id), method: :delete, class:"btn btn-outline-primary" %>
					<% else %>
						<%= link_to "フォローする", user_user_relationships_path(@user.id), method: :post, class:"btn btn-outline-primary" %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="col-4">
			<h2>ステータス</h2>
			<p>レビュー</p>
			<p>いいね</p>
			<div class="follow">
				フォロー中：
				<%= link_to follows_user_user_path(@user) do %>
					<%= @user.followings.count %>
				<% end %>
			</div>
			<div class="follow">
				フォロワー：
				<%= link_to followers_user_user_path(@user) do %>
					<%= @user.followers.count %>
				<% end %>
			</div>
			<p>劇場一覧</p>
		</div>
	</div>
</div>