<div class="container review-index">
	<% if user_signed_in? %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>

      <% elsif admin_signed_in? %>

      <% else %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_or_troupe_name_cont ,placeholder: "作品名か劇団名で検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>
      <% end %>
	<h1>検索結果</h1>
	<div class="row">
		<div class="col-10">
			<h4><%= "全#{@search_reviews.count}件" %></h4>
		</div>
	</div>
	<div class="row">
	<% @search_reviews.each do |review| %>
		<div class="col-2">
			<div class ="review-image">
			<%= link_to user_review_path(review.id) do %>
				<% if review.image_id.present? %>
					<%= attachment_image_tag review, :image, :fill, 200, 300 %>
				<% else %>
					<%= image_tag 'no_image.jpg', :size=>"200x300" %>
				<% end %>
			<% end %>
			</div><br>
			<div class="review_title">
				<%= review.title %>
			</div><br>
			<div class="review_user_name">
				<%= review.user.nickname %>
			</div><br>
		</div>
	<% end %>
	</div>
</div>