<div class="container review-index">
	<h1>レビュー一覧</h1>
	<div class="row">
	<% @reviews.each do |review| %>
		<div class="col-2">
			<div class ="review-image">
			<%= link_to user_review_path(review.id) do %>
				<% if review.image_id.present? %>
					<%= attachment_image_tag review, :image, :fill, 200, 300 %>
				<% else %>
					<%= image_tag 'no_image.jpg', :size=>"200x300" %>
				<% end %>
			<% end %>
			</div><br>
			<div class="review_title">
				<%= review.title %>
			</div><br>
			<div class="review_user_name">
				<%= review.user.nickname %>
			</div><br>
		</div>
	<% end %>
	</div>
</div>