<div class="container review-new">
	<h1>レビュー新規投稿</h1>
	<div class="row errors">
	<% if @review.errors.any? %>
        	<div id="error_explanation">
          		<h2><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</h2>
          		<ul>
          			<% @review.errors.full_messages.each do |msg| %>
            		<li><%= msg %></li>
          			<% end %>
          		</ul>
        	</div>
    	<% end %>
    </div>
    <div class="row">
    	<%= form_for(@review, url: {controller: "reviews", action: "create"}) do |f| %>
    	<div class="col-5">
    		<%= f.attachment_field :image, onchange: "previewFile()" %><br>
    		<%= attachment_image_tag @review, :image, src: "", size: "300x400", alt: "Image preview...", id: "img_prev", fallback: "no_image.jpg" %>
    	</div>
    	<div class="col-7">
    		<div class="field">
				<label class="title">作品名</label>
				<%= f.text_field :title %>
			</div>
			<div class="field">
				<lavel class="stage_date">観劇日</lavel>
				2020年2月5日　15時
			</div>
			<div class="field">
				<lavel class="theater">劇場</lavel>
				<%= radio_button_tag(:selected_btn, "been_theater") %>
				<%= label_tag(:been_theater, "行ったことのある劇場から選択") %>
				<p>
					劇場名：<%= f.collection_select :theater, @theaters, :id, :name,{},class:"custom-select col-7" %>
				</p>
				<%= radio_button_tag(:selected_btn, "new_theater") %>
				<%= label_tag(:been_theater, "新しい劇場を追加") %>
				<p>
					劇場名：<%= f.text_field :theater_name %>
				</p>
			</div>
			<div class="field">
				<lavel class="theater">座席</lavel>
				<%= f.text_field :seat %>
			</div>
			<div class="field row" id="star">
				<lavel class="view_level">座席の見え方</lavel>
				<%= f.select :view_level, [["★","1"],["★★","2"],["★★★","3"],["★★★★","4"],["★★★★★","5"]], :prompt=>"選択してください" ,class:"custom-select col-3"%>
			</div>
			<div class="subtitle">
				<h1>評価</h1>
			</div>
			<div class="field">
				<lavel class="satisfaction_level">満足度</lavel>
				<%= f.select :satisfaction_level, [["★","1"],["★★","2"],["★★★","3"],["★★★★","4"],["★★★★★","5"]], :prompt=>"選択してください" ,class:"custom-select col-3"%>
			</div>
			<div class="field">
				<lavel class="story_level">ストーリー性</lavel>
				<%= f.select :story_level, [["★","1"],["★★","2"],["★★★","3"],["★★★★","4"],["★★★★★","5"]], :prompt=>"選択してください" ,class:"custom-select col-3"%>
			</div>
			<div class="field">
				<lavel class="stage_set_level">舞台セット</lavel>
				<%= f.select :stage_set_level, [["★","1"],["★★","2"],["★★★","3"],["★★★★","4"],["★★★★★","5"]], :prompt=>"選択してください" ,class:"custom-select col-3"%>
			</div>
			<div class="field">
				<lavel class="costume_level">衣装</lavel>
				<%= f.select :costume_level, [["★","1"],["★★","2"],["★★★","3"],["★★★★","4"],["★★★★★","5"]], :prompt=>"選択してください" ,class:"custom-select col-3"%>
			</div>
			<div class="field">
				<lavel class="body">感想</lavel>
				<%= f.text_area :body %>
			</div>
			<div class="submit">
				<%= f.submit "投稿", class:"btn btn-outline-primary"%>
			</div>
    	</div>
    	<% end %>
    </div>
</div>

<script>
	function previewFile() {
  var preview = document.querySelector('#img_prev');
  //どこでプレビューするか指定。'img[name="preview"]'などにすればimg複数あっても指定できます。
  var file    = document.querySelector('input[type=file]').files[0];
  //'input[type=file]'で投稿されたファイル要素の0番目を参照します。input[type=file]にmutipleがなくてもこのコードになります。
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
    preview.src = reader.result;
    //めちゃめちゃ長い文字列が引き渡されます。ユーザーのファイルパスに紐付かない画像情報だと思います。
  }, false);

  if (file) {
    reader.readAsDataURL(file);
    //ここでreaderのメソッドに引数としてfileを入れます。ここで、readerのaddEventListenerが発火します。
  }
}
</script>