<div class="container">
	<div class="row">
		<h1>Ranking!</h1>
	</div>
	<div class="row">
	<% @all_ranks.each.with_index(1) do |review, i| %>
		<h5>第<%= i %></h5>
		<div class="polaroid col-2">
			<div class ="review-image">
			<%= link_to user_review_path(review.id) do %>
				<% if review.image_id.present? %>
					<%= attachment_image_tag review, :image, :fill, 100, 200 %>
				<% else %>
					<%= image_tag 'no_image.jpg', :size=>"100x200" %>
				<% end %>
			<% end %>
			</div><br>
			<div class="review_title">
				<%= review.title %>
			</div><br>
			<div class="review_user_name">
				<%= review.user.nickname %>
			</div><br>
		</div>
	<% end %>
	</div>
</div>

