<div class="container review-show">
	<h1><%= @review.title %></h1>
	<div class="flash">
		<%= flash[:notice_update] %>
	</div>
	<div class="row">
		<div class="col-5">
			<%= attachment_image_tag @review, :image, :fill, 300, 400, fallback: "no-image-review.png", :size=>"300x400" %>
			<div id="favorites">
				<%= render 'user/favorites/favorites', review: @review %>
			</div>
			<h3>reviewed by</h3>
			<div class="prof_image">
				<% if user_signed_in? %>
					<%= link_to user_user_path(@user) do %>
						<% if @user.image_id.present? %>
							<%= attachment_image_tag @user, :image, :fill, 100, 100 %>
						<% else %>
							<%= image_tag 'no_image.jpg', :size=>"100x100" %>
						<% end %>
					<% end %>
				<% else %>
					<% if @user.image_id.present? %>
						<%= attachment_image_tag @user, :image, :fill, 100, 100 %>
					<% else %>
						<%= image_tag 'no_image.jpg', :size=>"100x100" %>
					<% end %>
				<% end %>
			</div>
			<div class="nickname">
				<% if user_signed_in? %>
					<%= link_to user_user_path(@user) do %>
						<%= @user.nickname %>
					<% end %>
				<% else %>
					<%= @user.nickname %>
				<% end %>
			</div>
		</div>
		<div class="col-7">
			<p>観劇日：　<%= @review.stage_date %></p>
			<% if @review.troupe_name.present? %>
				<p>劇団名：<%= @review.troupe_name %></p>
			<% end %>
			<p>劇場名：　<%= @review.theater_name %></p>
			<p>座席：　<%= @review.seat %></p>
			<p>座席の見え方：
				<% if @review.view_level == 1 %>
					★
				<% elsif @review.view_level == 2 %>
					★★
				<% elsif @review.view_level == 3 %>
					★★★
				<% elsif @review.view_level == 4 %>
					★★★★
				<% else %>
					★★★★★
				<% end %>
			</p>
			<p>
				感想：
				<% if @review.is_spoiler == false %>
					<%= @review.body %>
				<% else %>
					<div class="hidden_box">
    					<label for="label1">クリックして表示（ネタバレ有り）</label>
    						<input type="checkbox" id="label1"/>
    						<div class="hidden_show">
      							<!--非表示ここから-->     
      							<p><%= @review.body %></p>
      							<!--ここまで-->
    						</div>
					</div>
				<% end %>
			</p>
			<h3>評価</h3>
			<p>満足度：
				<% if @review.satisfaction_level == 1 %>
					★
				<% elsif @review.satisfaction_level == 2 %>
					★★
				<% elsif @review.satisfaction_level == 3 %>
					★★★
				<% elsif @review.satisfaction_level == 4 %>
					★★★★
				<% else %>
					★★★★★
				<% end %>

			</p>
			<p>ストーリー性：
				<% if @review.story_level == 1 %>
					★
				<% elsif @review.story_level == 2 %>
					★★
				<% elsif @review.story_level == 3 %>
					★★★
				<% elsif @review.story_level == 4 %>
					★★★★
				<% else %>
					★★★★★
				<% end %>
			</p>
			<p>舞台セット：
				<% if @review.stage_set_level == 1 %>
					★
				<% elsif @review.stage_set_level == 2 %>
					★★
				<% elsif @review.stage_set_level == 3 %>
					★★★
				<% elsif @review.stage_set_level == 4 %>
					★★★★
				<% else %>
					★★★★★
				<% end %>
			</p>
			<p>衣装：
				<% if @review.costume_level == 1 %>
					★
				<% elsif @review.costume_level == 2 %>
					★★
				<% elsif @review.costume_level == 3 %>
					★★★
				<% elsif @review.costume_level == 4 %>
					★★★★
				<% else %>
					★★★★★
				<% end %>
			</p>
			<div class="edit_btn">
				<% if @review.user == current_user %>
					<%= link_to "編集する", edit_user_review_path(@review), class:"btn btn-outline-primary" %>
				<% end %>
			</div>
			<div class="destroy_btn">
				<% if @review.user == current_user %>
					<%= link_to "削除する", user_review_path(@review), method: :delete, class:"btn btn-outline-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>