<!DOCTYPE html>
<html>
  <head>
    <title>StageReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/543b872ac6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <h2>Stage Reviews</h2>
    </div>
    <header>
      <nav class="navbar justify-content-center">
      <ul class="list-inline-item">
        <% if user_signed_in? %>
          <li class="list-inline-item">
            <%= link_to root_path do %>
              <p>Home</p>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to home_about_path do %>
              <p>About</p>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to user_user_path(current_user) do %>
              <p>MyPage</p>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <p>Logout</p>
            <% end %>
          </li>
        <% else %>
          <li class="list-inline-item">
            <%= link_to root_path do %>
              <p>Home</p>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to home_about_path do %>
              <p>About</p>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to new_user_session_path do %>
              <p>Login</p>
            <% end %>
          </li>
        <% end %>
      </ul>
      </nav>
    </header>
    <% if user_signed_in? %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_cont ,placeholder: "キーワード検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>

      <% elsif admin_signed_in? %>

      <% else %>
        <dl class ="searchbox">
        <%= search_form_for @search, url: user_reviews_path do |f| %>
          <div class ="searching">
            <dt><%= f.search_field :title_cont ,placeholder: "キーワード検索", id: :review_title %><%= f.submit ("search") , class: 'search-btn' %></dt>
          </div>
        <% end %>
        </dl>
      <% end %>
    <!-- <div class ="jumbotron jumbotron-fluid"></div> -->
    <%= yield %>
  </body>
</html>
